@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,form,input,textarea{margin:0 ;padding:0;}
ul{list-style:none;}
a{text-decoration:none;}
input,img{border:none;}
body{font-family:arial,"微软雅黑";}
.clear{clear:both;}
header,nav,article,aside,footer,section{display:block;}
html,body{height:100%;}


html,body{height:100%;}
header{background:url(../images/oshin-slide-1.jpg) no-repeat center top;height:100%;}
.top .logo{float:left;padding:25px 0 0 2%;}
.top nav{float:left;width:896px;position:absolute;top:0;left:50%;margin-left:-448px;}
.top nav li{float:left;margin:0 21px;height:99px;line-height:99px;font-weight:bold;text-transform:uppercase;}
.top nav li a{color:#606262;font-size:12px;}
.top nav li:hover a{color:#DCA242;transition:all 1s;}
.top nav li .active{color:#DCA242;}
.top .icon{float:right;padding:25px 2% 0 0;position:relative;}
.top .icon .search{position:absolute;top:40px;left:-450px;float:left;}
.top .icon .align{position:absolute;top:40px;left:-410px;float:left;}
.top .icon .envelope{position:absolute;top:40px;left:-360px;float:left;}
.bot{width:365px;height:306px;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;text-align:center;}
.bot .yi{height:80xp;line-height:80px;font-size:20px;animation:bounceInDown 2s;}
.bot .er{border:7px solid #000;height:102px;line-height:102px;font-size:66px;animation:fadeIn 2s;}
.bot .san{heihgt:110xp;line-height:110px;font-size:30px;font-family:"bell mt";font-style:italic;animation:rotateInUpLeft 2s;}
.nine{height:70px;line-height:70px;text-align:center;}
.one{text-align:center;}
.one h2{height:102px;line-height:102px;font-size:35px;padding-top:59px;}
.one span{height:31px;line-height:31px;font-size:20px;color:#606364;font-family:"bell mt";font-style:italic;}
.one .kuai_wrap{padding:40px 0;}
.one .kuai{width:9px;height:9px;border:1px solid #f6e3c6;background:#e0a240;display:inline-block;position:relative;transform:rotate(45deg);}
.one .kuai:before{content:"";width:20px;height:1px;background:#e8e8e8;position:absolute;top:0;left:0;transform:rotate(-45deg) translate(-42px,-1px);}
.one .kuai:after{content:"";width:20px;height:1px;background:#e8e8e8;position:absolute;top:0;left:0;transform:rotate(-45deg) translate(29px,-1px);}
.one .p{height:33px;line-height:33px;}
.one .pic{padding-top:100px;font-size:0;}
.two ul li{float:left;width:25%;height:247px;text-align:center;}
.two ul li:nth-child(2n+1){background:#f2f5f8;}
.two ul li:nth-child(2n){background:#edf0f2;}
.two ul li a{display:block;transition:all 1s;}
.two ul li a i{padding-top:63px;font-size:45px;color:#000;}
.two ul li a p{height:53px;line-height:53px;color:#000;font-weight:bold;}
.two ul li:hover a{transform:translate(0,-30px);}
.three{width:1200px;margin:0 auto;}
.three .left{float:left;width:387px;}
.three .left .text{padding-bottom:50px;}
.three .left .text .icon{float:left;width:81px;font-size:35px;padding-top:121px;color:#e1a249;}
.three .left .text .text_r{float:left;width:306px;padding-top:121px;}
.three .left .text .text_r h4{height:31px;line-height:31px;font-size:16px;}
.three .left .text .text_r p{line-height:26px;padding-top:11px;font-size:14px;color:#727778;}
.three .mid{width:347px;height:693px;padding:89px 39px 93px 39px;float:left;}
.three .mid img{width:100%;}
.pic_fixed{height:400px;background:url(../images/index.png) no-repeat center top / cover fixed;}
.four{text-align:center;}
.four h2{height:102px;line-height:102px;font-size:35px;padding-top:59px;}
.four span{height:31px;line-height:31px;font-size:20px;color:#606364;font-family:"bell mt";font-style:italic;}
.four .kuai_wrap{padding:40px 0;}
.four .kuai{width:9px;height:9px;border:1px solid #f6e3c6;background:#e0a240;display:inline-block;position:relative;transform:rotate(45deg);}
.four .kuai:before{content:"";width:20px;height:1px;background:#e8e8e8;position:absolute;top:0;left:0;transform:rotate(-45deg) translate(-42px,-1px);}
.four .kuai:after{content:"";width:20px;height:1px;background:#e8e8e8;position:absolute;top:0;left:0;transform:rotate(-45deg) translate(29px,-1px);}
.four .u_top{padding:45px 0 50px 0;display:inline-block;}
.four .u_top li{float:left;}
.four .u_top li a{display:block;font-size:14px;height:42px;line-height:42px;padding:0 20px;border:1px solid #fff;font-weight:bold;color:#000;}
.four .u_top li .active{border:1px solid #e0a240;color:#e0a240;}
.four .u_top li:hover a{border:1px solid #e0a240;color:#e0a240;}
.four .u_bot{width:96%;margin:0 auto;}
.four .u_bot li{float:left;position:relative;font-size:0;width:31%;margin:0 3% 3% 0;}
.four .u_bot li .pic img{width:100%;}
.four .u_bot li:nth-child(3n){margin:0 0 3% 0;}
.four .u_bot li a{display:block;width:100%;height:100%;background:rgba(0,0,0,0.5);position:absolute;top:0;left;0;display:none;}
.four .u_bot li:hover a{display:block;}
.four p{height:44px;width:158px;border:2px solid #000;display:inline-block;margin-bottom:90px;}
.four p a{display:block;width:158px;height:44px;line-height:44px;transition:all 1s;color:000;}
.four p:hover a{background:#E4AF4B;color:#fff;}

.seven{text-align:center;background:url(../images/bg_02.jpg);}
.seven h3{height:70px;line-height:70px;font-size:26px;padding-top:77px;color:#fff;}
.seven p{line-height:30px;font-size:18px;color:#fff;width:96%;}
.seven a{display:inline-block;width:110px;height:44px;line-height:44px;background:#f0b452;color:#fff;margin:28px 0 90px 0;transition:all 1s;}
.seven a:hover{background:#000;}
.h_bot{ width:1210px;margin:0 auto; padding-top:11px; }

